html{
  background-color: beige;
}

.homePage-quotes{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 font-family: SF pro;
 letter-spacing: 10px;
}

.Difficultys{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
}

.Difficulty-Buttons{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  row-gap: 30px;
}