html {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #41414171;
}

svg {
  position: absolute; /* Add this line */
  top: 0;
  left: 0;
  z-index: -2;
  grid-area: main;
  height: 100%;
  width: 100%;
  
  min-height: 100vh;
  display: grid;
  grid:
    "main" 100vh
     auto;
  place-items: center;
}

a{
  text-decoration: none;
}

.header{
  display:flex;
  align-items:stretch;
  justify-content:space-between;
}

.instruction{
  font-family: Sf pro;
  font-size:25px;
}

.logo{
  color: #111;
  font-family: ND LOGOS;
  font-size: 25px;
}

.Difficultys{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  margin-top:50px;
  font-family: SF pro;
}

.Difficulty-Buttons{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: row;
  column-gap: 20px;
  

}

.Difficulty-Button1{
  background-color: #ffffffb2;
  border: 1px solid #111;
}

.Difficulty-Button1:hover{
  transition: 200ms;
  background-color: #00000075;
  color: white;
}

.Difficulty-Button2{
  background-color: #ffffffb2;
  border: 1px solid #111;
}

.Difficulty-Button2:hover{
  transition: 200ms;
  background-color: #00000075;
  color: white;
}

.Difficulty-Button3{
  background-color: #ffffffb2;
  border: 1px solid #111;
}

.Difficulty-Button3:hover{
  transition: 200ms;
  background-color: #00000075;
  color: white;
}

.text-container {
  display: flex;
  justify-content: center;
}

.text-box {
  position: relative;
}

.NeedToType {
  opacity: 0.7;
  font-family: SF pro;
  font-size: 20px;
  margin-top: 200px;
  margin-bottom: 50px;
  width:1000px;
}

.horizontal-line {
  border-top: 1px solid black;
  margin: 10px 0;
  width:1000px;
}

#typeBox {
  position: relative;
  z-index: 1;
  margin-bottom: 200px;

}

.input {
  position: absolute;
  top: 0;
  left: 0;
  width: 980px;
  height: 20px;
  border: 1px solid rgba(255, 255, 255, 0.512);
  outline: none;
  background-color: transparent;
  word-wrap: break-word;
  font-size: 16px;
  padding: 10px;
  z-index: 2;
}

.input:focus {
  border-color: rgb(0, 0, 0);
}


.keyboard-box{
  display:flex;
  justify-content: center;
  align-items: center;
  height:300px;
}
#keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
}

.key {
  margin: 5px;
  padding: 10px;
  font-size: 20px;
  background-color: #f5f5f58e;
  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;
}

.key:hover {
  background-color: #ddd;
}

.key:active {
  background-color: #ccc;
}


/* Add this rule to remove .pressed when the key is released */
.key:active,
.key:focus {
  outline: none; /* Remove the default focus outline */
}

.pressed {
  background-color: gray;
  box-shadow: none;
  color: white;
}

.error {
  background-color: red;
}

.info-section{
  display: flex;
  justify-content: center;
}

.incorrect{
  color: red;
}

.timer{
  font-size: 40px;
  font-family: SF pro;
}

@media (min-width: 1200px){
  #typeBox{
    margin-bottom: 50px
  }
  .NeedToType{
    margin-top:80px
  }
}


@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}